# dependencies
node_modules/

# env files
.env
.env.local
.env.production
.env.*

# next.js
.next/
out/

# blur cache
web/.blur-cache/*
!web/.blur-cache/.gitkeep

# strapi / build tools
.tmp/
.cache/
dist/
build/

# misc
.DS_Store


data/
backend/data/

# Abaikan file media/upload dari antarmuka Directus
uploads/
backend/uploads/

# Tanda seru (!) memaksa Git untuk tidak mengabaikan folder ini
!schema-sync/
!backend/schema-sync/



.geminiignore