# dependencies
node_modules/

# env files
.env
.env.local
.env.production

# next.js
.next/
out/

# blur cache
web/.blur-cache/*
!web/.blur-cache/.gitkeep

# strapi
.tmp/
.cache/
dist/
build/

# misc
.DS_Store

# Docker database and storage
data/
uploads/
.env

# Node modules 
node_modules/

#tmp photo
zigizaga/

.geminiignore