# dependencies
node_modules/

# env files
.env
.env.local
.env.production
.env.*

# next.js
.next/
out/

# blur cache
web/.blur-cache/*
!web/.blur-cache/.gitkeep

# strapi / build tools
.tmp/
.cache/
dist/
build/

# misc
.DS_Store

# Garis miring '/' supaya Git cuma ignore folder data di root
/data/
/backend/data/

# Abaikan file media/upload dari antarmuka Directus
uploads/
backend/uploads/

# Un-ignore folder schema-sync beserta seluruh isinya
!backend/schema-sync/
!backend/schema-sync/**

.geminiignore
# playwright
**/playwright-report/
**/test-results/
**/blob-report/
